body {
     font-family: 'Segoe UI', sans-serif; 
     padding: 20px;
     background: #65a2ff; 
    }


.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    }


.card { 
    background: white;
    text-align: center; 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 12px; 
    
}

.full-width { grid-column: span 2; }

table { width: 100%; 
    border-collapse: collapse; 
    margin-top: 10px; 
}

th, td { border-bottom: 1px solid #ddd; 
    padding: 12px; 
    text-align: center; 
}

th { background-color: #007BFF; 
    color: white; 
    border-radius: 4px 4px 0 0; 
}

.ia-card { text-align: center; 
    border: 2px ; 
}

.porcentagem { 
    font-size: 4em; 
    font-weight: bold; 
    margin: 10px 0; 
}

